.CardHeader {
  font-size: 1.5rem;
}
.centerBody {
  display: flex;
  flex-direction: row;
}
.separator {
  width: 0.005rem;
  background-color: #30416b;
}
#Title {
  font-size: 3.5rem;
  color: #30416b;
  border-bottom-style: ridge;
  border-bottom-width: 0.2rem;
  border-bottom-color: #30416b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.list-map {
  padding: 3rem;
  /* background-color: #30416B; */
  height: 4rem;
  margin-left: 0.1rem;
  color: black;
  margin-bottom: 0.2rem;
  border-bottom-style: ridge;
  border-bottom-width: 0.1rem;
  border-bottom-color: black;
  /* border-radius: .5rem; */
  /* width: 12rem; */
  border-bottom-color: "#00000";
  /* border-width:.01rem; */
  border-bottom-style: ridge;
  display: flex; /* Make this a flex container */
  justify-content: flex-start; /* Align items to the start */
  align-items: center; /* Center items vertically */
  margin-top: 1rem;
  /* margin: 1rem; */
  /* margin: 1rem; */
}
.sharpie {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ) !important; /* Adjust the background color as needed */
}
.whiteboard-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  /* padding: 20px; */
  box-sizing: border-box;
}
.pressEnter{
  margin-top: 1.5rem !important;
  height: 3rem;
  width: 40rem;
  /* background-color: red !important; */
  /* background-image: none !important; */
}
.scrollable-input-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%; /* Adjusted to 30% */
  background-color: white;
  padding-bottom: 4rem;
  box-sizing: border-box;
  overflow-y: auto; 
}
::-webkit-scrollbar {
  display: none;
}
.image-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: .2rem dashed #ccc;
  transition: border-color 0.3s ease;
  /* border-bottom-color: #30416b; */
  width: 100%;
  height: 45%;
  padding-bottom: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
}
.image-input-container:hover {
  border-color: #30416b;
 }
.image-input-text {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.title-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}

.select-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
}
.input-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  font-size: 16px;
  width: 100%;

  /* margin: bottom 200px !important; */
}

.two-select-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  width: 100%;
}

.select-container {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.first-select-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-container {
  display: flex;
  height: 3.6rem;
  flex-direction: column;
  border-radius: 4px;
  width: 100%;
  /* margin-bottom: 10px; */
  padding-left: 8px;
  padding-right: 8px;

  border-width: 0.12rem;
  border-color: lightgrey;
  justify-content: center;
  border-style: ridge;
}
.input-container-long {
  display: flex;
  height: 3.6rem;
  flex-direction: column;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  padding-top: 16px;
  border-width: 0.12rem;
  border-color: lightgrey;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  border-style: ridge;
 }
 

.phrase {
  font-size: 16px;
  margin-top: 10px;
}
