.CardHeader{
  font-size: 1.5rem;
}
.centerBody{
  display: flex;
  flex-direction: row;
}
.separator{
  width: .005rem;
  background-color: #30416B;
}
#Title{
  font-size: 3.5rem;
  color: #30416B;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.list-map {
  padding: 3rem;
  /* background-color: #30416B; */
  height: 4rem;
  margin-Left:.1rem;
  color: black;
  margin-bottom:.2rem;
  border-bottom-style:ridge;
  border-bottom-width:.1rem;
  border-bottom-color:black;
  /* border-radius: .5rem; */
  /* width: 12rem; */
  border-bottom-color: "#00000";
  /* border-width:.01rem; */
  border-bottom-style: ridge;
  display: flex; /* Make this a flex container */
  justify-content: flex-start; /* Align items to the start */
  align-items: center; /* Center items vertically */
  margin-top: 1rem;
  /* margin: 1rem; */
  /* margin: 1rem; */
}
.modal {
  position: fixed; /* Fixed position to cover the entire screen */
  top: 50%; /* Move the modal down by half its height */
  left: 50%; /* Move the modal right by half its width */
  transform: translate(-50%, -50%); /* Adjust the modal's position to perfectly center it */
}

