.calender_Ctr{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.input-details-change{
    margin-bottom:1rem;
   width: 29.85rem!important;
    /* margin-right:1rem */
}
.input-details-change-long{
    margin-bottom:1rem;
    /* margin-right:1rem */
}