.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #f5f5f5;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('../../../fonts/MuseoModerno-VariableFont_wght.ttf') format('truetype');
}

*{
  font-family: MuseoModerno;
}
button{
  cursor: pointer;
}
button:active{
  background-color: #4485C5
}
.table {
  width: 90%;
  border-radius: 20px;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

.table th {
  background-color: #4485C5;
  color: white;
  text-align: left;
  border-left-width: 5px;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
  padding: 5px;
  /* color: #e7e7e7; */
}

/* .table tr:nth-child(odd) {
  background-color: #4485C5;
  color: white;
} */

.table tr:hover {
  background-color: #6C77BF;
  color: #ececec;
}
